{
    "flashCardFunction": {
        "APP_URL": "",
        "TELEGRAM_BOT_TOKEN": "",
        "PAPAGO_CLIENT_ID": "",
        "PAPAGO_CLIENT_SECRET": "",
        "TB_TRANSLATE_RESULT": "translate_result",
        "TB_USER": "users",
        "TB_FLASHCARD": "flashcards",
        "PAPAGO_SITE_CLIENT_SECRET": ""
    }
}