{
    "flashCardFunction": {
        "APP_URL": "",
        "SAMPLE_TABLE": "sample_table",
        "TELEGRAM_BOT_TOKEN": "",
        "PAPAGO_CLIENT_ID": "",
        "PAPAGO_CLIENT_SECRET": ""
    }
}